@font-face {
   font-family: "Poppins Light";
   src: url("fonts/Poppins Light.woff") format("woff"), url("fonts/Poppins Light.eot") format("embedded-opentype"), url("fonts/Poppins Light.ttf") format("truetype"), url("fonts/Poppins Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins Light";
   src: url("fonts/Poppins Light Italic.woff") format("woff"), url("fonts/Poppins Light Italic.eot") format("embedded-opentype"), url("fonts/Poppins Light Italic.ttf") format("truetype"), url("fonts/Poppins Light Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Poppins ExtraLight";
   src: url("fonts/Poppins ExtraLight.woff") format("woff"), url("fonts/Poppins ExtraLight.eot") format("embedded-opentype"), url("fonts/Poppins ExtraLight.ttf") format("truetype"), url("fonts/Poppins ExtraLight.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins ExtraLight";
   src: url("fonts/Poppins ExtraLight Italic.woff") format("woff"), url("fonts/Poppins ExtraLight Italic.eot") format("embedded-opentype"), url("fonts/Poppins ExtraLight Italic.ttf") format("truetype"), url("fonts/Poppins ExtraLight Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.eot") format("embedded-opentype"), url("fonts/Calibri.ttf") format("truetype"), url("fonts/Calibri.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins SemiBold";
   src: url("fonts/Poppins SemiBold.woff") format("woff"), url("fonts/Poppins SemiBold.eot") format("embedded-opentype"), url("fonts/Poppins SemiBold.ttf") format("truetype"), url("fonts/Poppins SemiBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Poppins SemiBold";
   src: url("fonts/Poppins SemiBold Italic.woff") format("woff"), url("fonts/Poppins SemiBold Italic.eot") format("embedded-opentype"), url("fonts/Poppins SemiBold Italic.ttf") format("truetype"), url("fonts/Poppins SemiBold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Bahnschrift SemiLight";
   src: url("fonts/Bahnschrift.woff") format("woff"), url("fonts/Bahnschrift.eot") format("embedded-opentype"), url("fonts/Bahnschrift.ttf") format("truetype"), url("fonts/Bahnschrift.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}